#include <windows.h>
#include "win32getpass.h"


GETPASS_IDD_MAINDIALOG DIALOG 129, 27, 195, 41
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Enter key"
FONT 8, "MS Sans Serif"
BEGIN
    LTEXT           "Self Decrypting Binary (SDC)", GETPASS_LTEXT, 6, 23, 131, 12
    EDITTEXT        GETPASS_IDPWDINPUT, 6, 7, 131, 12, ES_PASSWORD | ES_AUTOHSCROLL
    DEFPUSHBUTTON   "OK", IDOK, 149, 6, 40, 14
    PUSHBUTTON      "Cancel", IDCANCEL, 149, 23, 40, 14
END

